<div>
  <h2>Wellcome Home</h2>
  <h3>First Name : {{user.first_name}}</h3>
  <h3>Last Name :{{user.last_name}}</h3>
  <h3>Email : {{user.email}}</h3>
  <br />
  <br />
  <a type="button" href="/web/logout">logout</a>
</div>